.questions-container {
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .questions-content {
    align-items: center;
    display: flex;
    gap: 25px;

    .description {
      width: 50%;
    }

    .group-upload {
      .label-up {
        color: #9068ff;
        cursor: pointer;
        font-size: 25px;
        margin-right: 5px;

        &:hover {
          color: #4400ff;
        }
      }
    }

    .btn-add {
      .icon-add {
        color: #2596ff;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;

        &:hover {
          color: #0989ff;
        }
      }
      .icon-remove {
        color: #e8771c;
        cursor: pointer;
        font-size: 30px;

        &:hover {
          color: #ff7608;
        }
      }
    }
  }

  .answers-content {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;

    .isCorrect {
      font-size: 20px;
    }
    .answer-name {
      width: 500px;
    }
    .btn-group {
      .icon-add {
        color: #2596ff;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;

        &:hover {
          color: #0989ff;
        }
      }
      .icon-remove {
        color: #e8771c;
        cursor: pointer;
        font-size: 30px;

        &:hover {
          color: #ff7608;
        }
      }
    }
  }
}
