.questions-container {
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .questions-content {
    align-items: center;
    display: flex;
    gap: 25px;

    .description {
      width: 50%;
    }

    .group-upload {
      .label-up {
        border-radius: 5px;
        border: 1px solid red;
        cursor: pointer;
        height: 30px;
        margin-right: 5px;
        padding: 0 10px;
      }
    }

    .btn-add {
      .icon-add {
        color: red;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
      }
      .icon-remove {
        color: green;
        cursor: pointer;
        font-size: 30px;
      }
    }
  }

  .answers-content {
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;

    .isCorrect {
      font-size: 20px;
    }
    .answer-name {
      width: 500px;
    }
    .btn-group {
      .icon-add {
        color: red;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
      }
      .icon-remove {
        color: green;
        cursor: pointer;
        font-size: 30px;
      }
    }
  }
}
