.login-container {
  .loader-icon {
    animation: spin 1s infinite linear;
    margin-right: 7px;
    top: 2px;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }

  .header {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 45px;
    justify-content: flex-end;
    padding: 5px 100px 0 100px;

    button {
      background-color: #f9f9f9;
      border-radius: 5px;
      border: 1px solid;
      margin-left: 15px;
      padding: 3px 15px;

      &:hover {
        background-color: #fff;
      }
    }
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    input {
      margin-bottom: 15px;
      margin-top: 3px;
      padding-right: 40px;
    }

    button {
      background: #262627;
      border-radius: 5px;
      border: none;
      color: #fff;
      height: 40px;
      margin: 15px 0;
      width: 100%;

      &:disabled {
        background-color: #dddddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }

    .back {
      cursor: pointer;
    }
  }
}
